node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#pyodide static assets
static/_app

# Promo generator output
promo-generator/public/footage/*.mp4
promo-generator/public/footage/*.webm
promo-generator/public/audio/*.mp3
promo-generator/out/*.mp4